Repository sbpp/sourcebans-pp, pull requests merged in 2019-09, with the labels that each got.

#596 [Feature] Ability to make admins comments public.
  web/includes/system-functions.php
  web/install/includes/sql/data.sql
  web/pages/admin.settings.php
  web/pages/page.banlist.php
  web/themes/default/page_admin_settings_features.tpl
  web/updater/data/701.php
  web/updater/store.json
Labels: semver: minor, t: permission system, t: ui/ux, template: used, type: enhancement

#601 Fix #595
  web/includes/CUserManager.php
  web/includes/sb-callback.php
  web/themes/default/page_youraccount.tpl
Labels: semver: patch, t: permission system, t: ui/ux, type: enhancement

#605 refactor(translations): front-facing message translations
  .gitignore
  game/addons/sourcemod/scripting/sbpp_main.sp
  game/addons/sourcemod/translations/sbpp_main.phrases.txt
Labels: s: review needed, semver: minor, t: plugin, t: translations, type: enhancement

#608 Russian translation for previous commit (980).
  game/addons/sourcemod/translations/sbpp_main.phrases.txt
Labels: semver: patch, t: plugin, t: translations

#579 Update ban page SteamID check
  web/pages/admin.bans.php
Labels: semver: patch, t: ui/ux
